<div class="container">

  <!-- SPINNER -->
  <h2>Demostración de Spinners</h2>

  <div class="spinners">
    <!-- Spinner tipo 1 (clásico) -->
      <ui-spinner
        type="type1"
        color="primary"
        size="small"
        speed="slow"
      ></ui-spinner>

      <ui-spinner
        type="type1"
        color="primary"
        size="medium"
        speed="normal"
      ></ui-spinner>

      <ui-spinner
        type="type1"
        color="primary"
        size="large"
        speed="fast"
      ></ui-spinner>
    </div>

    <div class="spinners dot">
      <!-- Spinner tipo 2 (puntos) -->
      <ui-spinner
        type="type2"
        color="info"
        size="small"
        speed="slow"
      ></ui-spinner>

      <ui-spinner
        type="type2"
        color="info"
        size="medium"
        speed="normal"
      ></ui-spinner>

      <ui-spinner
        type="type2"
        color="info"
        size="large"
        speed="fast"
      ></ui-spinner>
    </div>

    <div class="spinners">
      <!-- Spinner tipo 3 (barras) -->
      <ui-spinner
        type="type3"
        color="danger"
        size="small"
        speed="slow"
      ></ui-spinner>

      <ui-spinner
        type="type3"
        color="danger"
        size="medium"
        speed="normal"
      ></ui-spinner>

      <ui-spinner
        type="type3"
        color="danger"
        size="large"
        speed="fast"
      ></ui-spinner>
    </div>
  <!-- FIN DE SPINNER -->

</div>
