<div id="cont-log">
  <img src="https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

  <div class="log-container">
    <h2>Login Update</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="cont-input">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          autocomplete="off"
          required
        />
      </div>
      <p class="error" *ngIf="loginForm.get('email')?.touched">*This field is required</p>

      <div class="cont-input">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          autocomplete="current-password"
          required
        />
      </div>
      <p class="error" *ngIf="loginForm.get('password')?.touched">*This field is required</p>


      <p class="error" *ngIf="isNotLogged">*Email or password invalid</p>

      <div class="cont-btn">
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>

    <div class="register-link-cont">
      <p>Don't have an account?</p>
      <a routerLink="/register">Register</a>
    </div>
  </div>
</div>
