<div class="container">
  <!-- Ejemplos básicos -->
  <ui-boton color="primary" size="sm">Primary</ui-boton>
  <ui-boton color="secondary" size="sm">Secondary</ui-boton>
  <ui-boton color="danger" size="sm">Danger</ui-boton>

  <!-- Ejemplo deshabilitado -->
  <ui-boton color="success" size="sm">Success</ui-boton>
      <!-- Ejemplos básicos -->
      <ui-boton color="primary">Primary</ui-boton>
      <ui-boton color="secondary">Secondary</ui-boton>
      <ui-boton color="danger">Danger</ui-boton>

      <!-- Ejemplo deshabilitado -->
      <ui-boton color="success" disabled>Success</ui-boton>

    <!-- Ejemplos básicos -->
    <ui-boton color="primary" size="lg">Primary</ui-boton>
    <ui-boton color="secondary" size="lg">Secondary</ui-boton>
    <ui-boton color="danger" size="lg">Danger</ui-boton>

    <!-- Ejemplo deshabilitado -->
    <ui-boton color="success" size="lg">Success</ui-boton>

</div>
