#container {
  height: 100%;
  background: #ffffff;
  border-right: 1px solid rgb(243, 243, 243);
  padding: 2.5rem 1.25rem;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.015);
}

h2 {
  font-size: 20px;
  color: #0a0a0a;
  margin-bottom: 0px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.h2-link{
  text-decoration: none;
}

h3{
  color: #4b4c4d;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

ul{
  padding: 0;
  list-style: none;
}

a:not(.h2-link) {
  display: flex;
  align-items: center;
  padding: 0.85rem 1.25rem;
  color: #2d3748;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.25s ease;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  border-radius: 0; /* Estilo cuadrado */
  position: relative;

  &:hover {
    background: #f9f9f9;
    color: #c00;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background: #d30b0b;
    }
  }

  &.active {
    background: linear-gradient(90deg, rgba(211,11,11,0.05) 0%, rgba(211,11,11,0.01) 100%);
    color: #d30b0b;
    font-weight: 600;
    border-left: 2px solid #d30b0b;
  }
}
