
/* Menú */
.menu {
  position: fixed;
  top: 0vh;
  left: 0;
  width: calc(100% - 60px);
  height: 7vh;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 0 30px;
  user-select: none;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}



.menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
  margin-left: 60px;
}

.menu li a {
  color: #181818;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 800;
  transition: 200ms;
}

.menu li a:hover {
  background-color: rgba(0, 0, 0, 0.096);
  transition: 200ms;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  /* justify-content: center; */
}

.logo a {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #181818;
  transition: color 0.3s ease;
  margin: 0;

  &:hover{
    color: #5401ac;
    font-weight: 500 !important;
  }
}

.login{
  display: flex;
  gap: 0.7rem;
  padding-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}


.login a{
  text-decoration: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  font-size: 14px;
  font-weight: 500;
}

.login-link{
  color: #000;
  border: 0px solid rgba(0, 0, 0, 0.2);
  font-weight: 600 !important;
  transition: 200ms;
}

.login-link:hover{
  background-color: rgba(0, 0, 0, 0.096);
  transition: 200ms;
}

.register-link{
  background: linear-gradient(135deg, #6e00ff 0%, #3a0077 100%);
  color: white;
}

/* Menu Mobile, Burguer */
.menu-mobile{
  display: none;
}

.hamburger {
  cursor: pointer;
  display: flex;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2.8em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #181818;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.6;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.menu-list-mobile{
  position: absolute;
  top: 9vh;
  right: 0;
  width: inherit;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  z-index: 9999 !important;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #e6e6e6 50%,
    #cccccc 100%
    );
  padding: 10px;


  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 !important;
    margin: 0 auto !important;
    margin-top: 30px;
    gap: 0.6rem;
  }

  li{
    position: relative;
    text-align: center;
    width: 100%;
  }

  li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* o 80px, etc. */
    border-bottom: 0px solid black;
  }

  li a{
    display: inline-flex;
    justify-content: center;
    font-size: 18px;
    padding: 15px 0;
    border-radius: 0;
    width: inherit;
    cursor: pointer;
    /* border: 1px solid red; */
  }
}

.login-mobile{
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

   a{
    width: 55%;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    margin: 0 auto;
    padding: 0.8rem;
    font-size: 22px;
    font-weight: 500;
  }

}

/* User */

.hr{
  width: 60%;
  height: 1px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.096);
}

.user-logout-mobile{
  margin-top: 30px !important;
}

.user-logout-mobile, .user-logout {
  position: relative;
  width: fit-content;
  cursor: pointer;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  margin: 0 auto;

  .user-profile {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.8rem 0.3rem 0.3rem;
    border-radius: 28px;
    border: 1px solid rgba(167, 167, 167, 0.2);
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(60, 64, 67, 0.08);
    }
  }

  .user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #8f41e9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
  }

  .user-info {
    margin-right: 8px;

    .user-name {
      font-size: 14px;
      color: #3c4043;
      font-weight: 500;
    }
  }

  .user-dropdown-icon {
    color: #747474;
    width: 24px;
    height: 24px;
  }

  .user-menu {
    position: absolute;
    right: 0;
    top: 48px;
    background: rgb(228, 228, 228);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    z-index: 999;
    padding: 8px 0;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      font-size: 14px;
      color: #3c4043;

      &:hover {
        background-color: #e0e0e0;
      }

      svg {
        margin-right: 16px;
        color: #5f6368;
      }
    }
  }
}


.user-logout{
  padding: 0 !important;
  margin: 0 !important;

  .user-profile {
    padding: 0.1rem 0.2rem 0.1rem 0.2rem !important;
  }

  .user-avatar {
    width: 28px !important;
    height: 28px !important;
    border-radius: 50%;
    background-color: #1a73e8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
  }

  .user-info {
    margin-right: 8px;

    .user-name {
      font-size: 14px;
      color: #3c4043;
      font-weight: 500;
    }
  }
}


#menu-aside{
  position: fixed;
  /* left: 10vw; */
  left: 0vw;
  /* top: 7vh; */
  top: 0vh;
  width: 250px;
  height: 100%;
  z-index: 900;
  background-color: transparent;
  border: 0px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 4px solid black;
}

#router{
  position: absolute;
  top: 7vh;
  /* left: 300px; */
  left: calc( 10vw + 250px );
  /* width: calc( 100% - 500px ); */
  width: calc( 100% - 300px - 20vw );
  /* height: 100%; */
  min-height: fit-content;
  display: grid;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;

}

#list-aside{
  position: fixed;
  /* right: 0; */
  right: 14vw;
  top: 7vh;
  width: 200px;
  /* min-height: 100vh; */
  height: 100%;
  /* border-left: 1px solid rgba(255, 255, 255, 0.1); */
  z-index: 1;
  background-color: #09090B;
  background-color: transparent;
  color: #181818;

  display: none;
}




.container{
  background-color: white;
  width: fit-content;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);

}

.close-session{
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

h1, h2 {
  color: #333;
  margin-bottom: 16px;
  width: fit-content;
  margin: 0 auto;
}


@media (max-width: 1800px){
  #router{
    width: calc( 100% - 600px - 7vw );
  }

  #list-aside{
    display: none;
  }
}

@media (max-width: 1500px){
  #router{
    left: calc(300px);
    width: calc( 100% - 300px );
  }

}

@media (max-width: 1000px){

  .menu{
    width: calc( 100% - 20px );
    padding: 0 10px;
  }

  .menu-list, .login{
    display: none;
  }

  .menu-mobile{
    display: flex;
  }

  .user-logout{
    display: none;
  }

  #router{
    left: 0;
    width: 100%;
  }

  #menu-aside{
    display: none;
  }
}

@media (max-width: 850px){

  #router{
    min-width: 100%;
  }

  .menu-list, .login{
    display: none;
  }

  #menu-aside{
    top: 4vh;
  }

  .menu-mobile{
    display: flex;
  }

}
