/* Menú */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* width: calc(100% - 400px); */
  width: calc(100% - 110px);
  height: 7vh;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-between;
  /* padding: 0 200px; */
  padding: 0 55px;

  background-color: #080808;
}

.menu-left{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.menu li a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.2s;
  text-shadow: 0 0 4px black;
}

.menu li a:hover {
  color: #c9c9c9;
}


.logo a{
  width: fit-content;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 0 0 10px black;
  text-decoration: none;
}

.search-bar{
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;


  input{
    height: 30px;
    width: 200px;
    padding-left: 10px;
    border: 0;
    outline: 0;
    appearance: none;
    border-radius: 5px;
  }

  input:focus{
    /* border: 5px solid #97021b !important; */
    outline: 4px solid #97021b !important;
  }


}

.search-icon{
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background: url(../../assets/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.login{
  display: flex;
  width: fit-content;
  /* border: 1px solid red; */
}

.login a{
  color: white;
  text-decoration: none;
  text-shadow: 0 0 4px black;
  width: fit-content;
}

#menu-aside{
  position: fixed;
  left: 0;
  top: 7vh;
  width: 300px;
  /* min-height: 100vh; */
  height: 100%;
  z-index: -1;

}

#router{
  position: absolute;
  top: 7vh;
  left: 300px;
  width: calc( 100% - 500px );
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
  /* overflow-y: auto; */
  /* background-color: #1C1E21;
  background-color: #FDFDFD;
  background-color: #0f172a; */
}

#list-aside{
  position: fixed;
  right: 0;
  top: 7vh;
  width: 200px;
  /* min-height: 100vh; */
  height: 100%;
  border-left: 1px solid rgb(243, 243, 243);
  z-index: -1;

  background-color: #FDFDFD;
  /* background-color: #1C1E21; */
  color: #181818;

}




.container{
  background-color: white;
  width: fit-content;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}

.close-session{
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

h1, h2 {
  color: #333;
  margin-bottom: 16px;
  width: fit-content;
  margin: 0 auto;
}


.button-group {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
}

.hr{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 1px;
  border: none;
}


.modal{
  width: fit-content;
  margin: 0 auto !important;
}


.spinners{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

