
/* Menú */
.menu {
  position: fixed;
  top: 0vh;
  left: 0;
  width: calc(100% - 60px);
  height: 7vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 0 30px;
  user-select: none;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}



.menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
  margin-left: 60px;
}

.menu li a {
  color: #181818;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 800;
  transition: 200ms;
}

.menu li a:hover {
  background-color: rgba(0, 0, 0, 0.096);
  transition: 200ms;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  /* justify-content: center; */
}

.logo a {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #181818;
  transition: color 0.3s ease;
  margin: 0;

  &:hover{
    color: #5401ac;
    font-weight: 500 !important;
  }
}

.login{
  display: flex;
  gap: 0.7rem;
  padding-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}


.login a{
  text-decoration: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  font-size: 14px;
  font-weight: 500;
}

.login-link{
  color: #000;
  border: 0px solid rgba(0, 0, 0, 0.2);
  font-weight: 600 !important;
  transition: 200ms;
}

.login-link:hover{
  background-color: rgba(0, 0, 0, 0.096);
  transition: 200ms;
}

.register-link{
  background: linear-gradient(135deg, #6e00ff 0%, #3a0077 100%);
  color: white;
}

/* Menu Mobile, Burguer */
.menu-mobile{
  display: none;
}

.hamburger {
  cursor: pointer;
  display: flex;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2.8em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #181818;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.6;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


#menu-aside{
  position: fixed;
  /* left: 10vw; */
  left: 0vw;
  /* top: 7vh; */
  top: 0vh;
  width: 250px;
  height: 100%;
  z-index: 999;
  background-color: transparent;
  border: 0px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 4px solid black;
}

#router{
  position: absolute;
  top: 7vh;
  /* left: 300px; */
  left: calc( 10vw + 250px );
  /* width: calc( 100% - 500px ); */
  width: calc( 100% - 300px - 20vw );
  /* height: 100%; */
  min-height: fit-content;
  display: grid;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;

}

#list-aside{
  position: fixed;
  /* right: 0; */
  right: 14vw;
  top: 7vh;
  width: 200px;
  /* min-height: 100vh; */
  height: 100%;
  /* border-left: 1px solid rgba(255, 255, 255, 0.1); */
  z-index: 1;
  background-color: #09090B;
  background-color: transparent;
  color: #181818;

  display: none;
}




.container{
  background-color: white;
  width: fit-content;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);

}

.close-session{
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

h1, h2 {
  color: #333;
  margin-bottom: 16px;
  width: fit-content;
  margin: 0 auto;
}


@media (max-width: 1800px){
  #router{
    width: calc( 100% - 600px - 7vw );
    border: 0px solid red;
  }

  /* #router{
    left: calc( 14vw + 350px );
    width: calc( 100% - 600px - 28vw );
  } */

  #list-aside{
    display: none;
  }
}

@media (max-width: 1500px){
  #router{
    left: calc(7vw + 300px);
    width: calc( 100% - 300px - 7vw );
    border: 0px solid blue;
  }

  /* #menu-aside{
    left: 7vw;
    width: 300px;
  } */
}

@media (max-width: 1000px){

  /* .menu {
    top: 1vh;
    left: 50.3%;
    width: calc( 98vw - 65px );
  } */

  .menu-list, .login{
    display: none;
  }

  .menu-mobile{
    display: flex;
  }

  #router{
    left: 0;
    width: 100%;
  }

  #menu-aside{
    display: none;
  }
}

@media (max-width: 850px){

  /* .menu {
    top: 0vh;
    left: 50%;
    height: 9vh;
    width: calc( 100vw - 20px );
    padding: 0 10px;
    border-radius: 0;
  } */

  .menu-list, .login{
    display: none;
  }

  #menu-aside{
    top: 4vh;
  }

  .menu-mobile{
    display: flex;
  }

}
