<div class="menu">
  <div class="logo">
    <a routerLink="/">JMV</a>
  </div>
  <div class="menu-list">
    <ul>
      <li>
        <a routerLink="/">
          docs
        </a>
      </li>
      <li>
        <a [routerLink]="['/dashboard']">
          components
        </a>
      </li>
      <li>
        <a routerLink="/">
          contact
        </a>
      </li>
    </ul>
  </div>
  <div class="login">
    <a routerLink="/">
      iniciar sesión
    </a>
  </div>
</div>

<!-- <hr class="hr"> -->

<!-- <h2>Dashboard - Página Protegida</h2> -->
<!-- <p>Bienvenido, esta es una página protegida solo para usuarios autenticados.</p> -->

<!-- <div class="close-session">
  <button (click)="logout()">Cerrar sesión</button>
</div> -->

<hr class="hr">

<div id="menu-aside">
  <app-menu-aside></app-menu-aside>
</div>

<div id="router">
  <router-outlet></router-outlet>
</div>

<div id="list-aside">
  <app-list-aside [currentComponent]="currentComponent"></app-list-aside>
</div>

<div class="container" style="display: none;">

  <!-- MODAL -->
  <h2>Demostración de Modal</h2>

  <!-- Botón para abrir el modal -->
  <ui-boton class="modal" (click)="modal.open()">Abrir Modal</ui-boton>

  <!-- Modal -->
  <ui-modal
    #modal
    title="Título del Modal"
    [showCloseButton]="true"
    [showFooter]="true"
    [closeOnClickOutside]="true"
    (closed)="onModalClosed()"
    (confirmed)="onModalConfirmed()"
  >
    <p>Este es el contenido personalizable del modal.</p>
  </ui-modal>
  <!-- FIN MODAL -->

  <hr class="hr" />

</div>

