@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: "Roboto", serif, Roboto;
  font-optical-sizing: auto;

  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* background: linear-gradient(to bottom, #E3F2FD, #FFFFFF);
  background-repeat: no-repeat; */

  background-color: #FDFDFD;
  background-color: #000000;
}


