<div class="reg-container">
  <h2>Register</h2>

  <form (ngSubmit)="onRegister()">
    <div class="cont-input">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="user.name" name="name" required autocomplete="off"/>
    </div>

    <div class="cont-input">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" required autocomplete="off"/>
    </div>

    <div class="cont-input">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </div>

    <div class="cont-btn">
      <ui-boton type="submit">Register</ui-boton>
    </div>
  </form>

  <div class="login-link-cont">
    <p>Have an account?</p>

    <a routerLink="/login">Login</a>
  </div>
</div>
